.all-categories {
    float: left;
    width: 100%;
}
.all-categories dt {
    clear: left;
    float: left;
    margin-right: 10px;
    font-weight: 700;
}
.all-categories li {
    display: inline-block;
    margin-right: 10px;
}